@page "/create"

<EditForm Model="createNewMovie" OnSubmit="HandleSubmit">
    <label>Movie</label>
    <InputText></InputText>
</EditForm>

@code {
 List<CreateMovieDto> createNewMovie=[];

async Task HandleSubmit(){

}
}
